{% extends "template.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/consulting_style.css' %}">
{% endblock %}
{% block content %}
    <div id="screen_full">
        <h1>상담신청</h1>
            <div id="screen_right">
                <div class="container">
                    <br>
                    <div id="name">
                        <label for="name">신청자</label>
                        <input type="text" name="name" id="name-input">
                    </div>

                    <div id="field">
                        <label for="field">상담분야</label>


    <input type="checkbox" id="career" name="counselingField" value="career">
    <label for="career">진로</label><br>

    <input type="checkbox" id="employment" name="counselingField" value="employment">
    <label for="employment">취업</label><br>

    <input type="checkbox" id="life" name="counselingField" value="life">
    <label for="life">생활</label><br>

    <input type="checkbox" id="jobApplication" name="counselingField" value="jobApplication">
    <label for="jobApplication">입사지원서</label><br>

    <input type="checkbox" id="mockInterview" name="counselingField" value="mockInterview">
    <label for="mockInterview">모의면접</label><br>
</div>

<div class="college_way">
                    <div id="college">
    <label for="college">단과대학</label>
    <select id="college-input" name="college">
        <option value="computer">컴퓨터공학과</option>
        <option value="construction">건축학과</option>
        <option value="Mechanical">기계공학과</option>
        <option value="Electrical">전기공학과</option>
    </select>
</div>

                    <div id="way">
    <label for="way">상담방법</label>
    <select id="way-input" name="way">
        <option value="Face-to-face">대면</option>
        <option value="Non-face-to-face">비대면</option>
    </select>
</div>
</div>

                    <div id="mail">
                        <label for="mail">이메일/카톡아이디</label>
                        <input type="text" name="mail" id="mail-input">
                    </div>

                    <div class="day_counselor">

                    <div id="day">
    <label for="day">상담날짜</label>
    <input type="date" id="day-input" name="day">
</div>

                    <div id="counselor">
                        <label for="counselor">상담자</label>
                        <input type="text" name="counselor" id="counselor-input">
                        </div>
                    </div>

<div id="time_place">
                    <div id="time">
    <label for="time">상담시간</label>
    <select id="time-input" name="time">
        <option value="9AM">9AM</option>
        <option value="10AM">10AM</option>
        <option value="11AM">11AM</option>
        <option value="12PM">12PM</option>
        <option value="13PM">13PM</option>
        <option value="14PM">14PM</option>
        <option value="15PM">15PM</option>


    </select>
</div>


                    <div id="place">
                        <label for="place">상담장소</label>
                        <input type="text" name="place" id="place-input">
                        </div>
</div>
                    <div id="note">
                        <label for="note">상담시 참고사항</label>
                        <input type="text" name="note" id="note-input">
                        </div>


                    <div class="row">
                        <a href="{% url 'index' %}"><button type="submit">신청하기</button></a>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}