{% extends "template.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}
{% block content %}

<div id="screen_top">

                    <div class="slider">
                    <img src="{% static 'img/woo.png' %}" class="slide-image">
                    <img src="{% static 'img/woo_logo.png' %}" class="slide-image2">
                </div>
    <div id="screen_full">
        <div id="screen_center">
        <div id="screen_left">
            <div class="screen_left_top">
                <div class="screen_left_top1">
                <div class="left-text">
                <a>공지사항</a>
                </div>
                </div>
            <div class="screen_left_top2">
                <div class="right-button">
                    <a href="{% url 'noticeboard' %}"><img src="{% static 'img/plus.png' %}" alt="공지사항"></a>
                </div>
            </div>
        </div>
            <div class="screen_left_bottom">
        <table class="noticeboard-link">
            {%for i in notices %}
            <tr>
                <td class="notice_left"><a href="{% url 'notice_detail' notice_id=i.id %}">{{i.title}}</a></td>
                <td class="notice_right">{{i.created_at}}</td>

            </tr>
            {%endfor%}
        </table>
    </div>
</div>
                    <div id="screen_right">
                        <div class="tab_content_noticeboard">
                            <input type="radio" name="tabmenu" id="tab01" checked>
                            <label for="tab01">채용정보</label>
                            <input type="radio" name="tabmenu" id="tab02">
                            <label for="tab02">청년정책</label>
                            <div class="box_noticeboard con1">
                                <table class="index_table">
                                    {%for i in value_re %}
                                    <tr>
                                        <td>{{i.1}}</td>&nbsp&nbsp
                                        <td><a href="{% url 'recruitment_detail' boardid=i.0 %}">{{i.2}}</a></td>
                                        <td>{{i.4}}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </div>
                            <div class="box_noticeboard con2">
                                <table class="index_table">
                                    {%for i in value_yo %}
                                    <tr>
                                        <td><a href="{% url 'youthpolicy_detail' pageIndex=1 boardid=i.bizId search_value='all' %}">{{i.polyBizSjnm}}</a></td>
                                        <td>연령({{i.ageInfo}})</td>
                                        <td>{{i.cnsgNmor}}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
        </div>
    </div>

    {% endblock %}