<!--회원가입-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/join_style.css' %}">
</head>
<body>
    <div id="screen_full">
        <img src="{% static 'img/join1.png' %}" class="join1">
        <div id="screen_bottom">

            <div id="screen_right">
                <div class="container">
                    <h2>회원가입</h2>
                    <form method="post" action="{% url 'join' %}">
                        {% csrf_token %}
                      <input type="text" name="name" placeholder="이름">
                      <input type="text" name="major" placeholder="전공">
                      <input type="text" name="university" placeholder="대학교">
                      <input type="email" name="email" placeholder="이메일">
                      <input type="password" name="password1" placeholder="비밀번호">
                      <input type="password" name="password2" placeholder="비밀번호 확인">
                      <button type="submit">가입하기</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>