<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
     <style>
        .error-messages {
            color: red;
        }
    </style>
</head>
<body>
    <div id="screen_full">
        <img src="{% static 'img/backimg.png' %}" class="backimg">
        <div id="screen_bottom">
            <div id="screen_left">
                <img src="{% static 'img/logo3.png' %}" class="logo3">
            </div>
            <div id="screen_right">
                <div class="container">
                    <h2>로그인</h2>
                    {% if messages %}
                        <div class="error-messages">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="이메일">
                        <input type="password" name="password" placeholder="비밀번호">
                        <button type="submit">로그인</button>
                    </form>
                    <div class="btn-container">
                        <a href="{% url 'join' %}"><button>회원가입</button></a>
                        <a href="{% url 'index' %}"><button>홈으로</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
