<!-- post_detail.html -->
{% extends "template.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/BOARD_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/write_style.css' %}">
{% endblock %}
{% block content %}

    <h1>게시판</h1>
    <!-- 현재 글 -->
    <div class="page_view">
        <div class="titlevox">
            <div class="subject">
                <span>{{ post.title }}</span>
            </div>
         </div>

     <div>
        <p>{{ post.content }}</p>

     </div>

        {% if user.is_authenticated and user == post.author %}
            <form method="post" action="{% url 'post_delete' pk=post.pk %}">
                {% csrf_token %}
                <button type="submit">게시물 삭제</button>
            </form>
        {% endif %}
     </div>


    <div  class="bottom_list">
        <ul>
            <li>
                 {% if previous_post %}
                    <a href="{% url 'post_detail' previous_post.id %}"><strong>▲ 윗글</strong>{{ previous_post.title }}</a>
                {% endif %}
            </li>
            <li>
                {% if next_post %}
                    <a href="{% url 'post_detail' next_post.id %}"><strong>▼ 아랫글</strong>{{ next_post.title }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
    </div>
{% endblock %}


