<!--채용정보상세-->
{% extends "template.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/basic_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/recruitment_detail_style.css' %}">
{% endblock %}
{% block content %}

            <h1>채용정보</h1>
			<div id="table_teb">
            <table>
		<colgroup>
			<col style="width: 150px">
			<col style="width: auto,">
			<col style="width: 140px">
			<col style="width: 20%">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">제목</th>
				<td>{{board.JO_SJ}}</td>
				<th scope="row">기업명</th>
				<td>{{board.CMPNY_NM}}</td>
			</tr>
			<tr>
				<th scope="row">모집인원</th>
				<td colspan="3">{{board.RCRIT_NMPR_CO}}</td>
			</tr>
			<tr>
				<th scope="row">조건</th>
				<td colspan="3">학력: {{board.ACDMCR_NM}}/경력: {{board.CAREER_CND_NM}}</td>
				</tr>
			<tr>
				<th scope="row">고용형태</th>
				<td colspan="3">{{board.EMPLYM_STLE_CMMN_MM}}</td>
			</tr>
			<tr>
				<th scope="row">근무시간</th>
				<td colspan="3">{{board.WORK_TIME_NM}}</td>
			</tr>
			<tr>
				<th scope="row">급여조건</th>
				<td>{{board.HOPE_WAGE}}</td>
                <th scope="row">퇴직금구분</th>
                <td>{{board.RET_GRANTS_NM}}</td>
			</tr>
			<tr>
				<th scope="row">가입보험</th>
				<td colspan="3">{{board.JO_FEINSR_SBSCRB_NM}}</td>
			</tr>
			<tr>
				<th scope="row">직무내용</th>
				<td colspan="3">{{board.DTY_CN}}</td>
			</tr>
			<tr>
				<th scope="row">접수방법</th>
				<td>{{board.RCEPT_MTH_NM}}</td>
                <th scope="row">제출서류</th>
				<td>{{board.PRESENTN_PAPERS_NM}}</td>
			</tr>
            <tr>
				<th scope="row">근무예정지 주소</th>
				<td colspan="3">{{board.WORK_PARAR_BASS_ADRES_CN}}</td>
			</tr>
            <tr>
				<th scope="row">등록일</th>
				<td>{{board.JO_REG_DT}}</td>
                <th scope="row">마감일</th>
				<td>{{board.RCEPT_CLOS_NM}}</td>
			</tr>
            <tr>
				<th scope="row">담당 상담사</th>
				<td>({{board.MNGR_INSTT_NM}}) {{board.MNGR_NM}}</td>
                <th scope="row">상담사 전화번호</th>
				<td>{{board.MNGR_PHON_NO}}</td>
			</tr>
			</tbody>
				<div id="authorship">&#10094;출처:서울열린데이터광장&#10095;</div>
			</table>
			</div>
			<button onclick="history.back();">돌아가기</button>
{% endblock %}