#job_container_content h3 {
    margin: 0;
}
li {
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 450px;
    background-color: #ffffff;
    border: 3px solid #6cb8cc;
    border-radius: 10px;
}
main div{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.job_container_info div{
    flex-direction: column;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #0077b6;
    font-weight: bold;
}
.job_container_info p {
    margin: 0 0 10px;
}
li:hover {
    border: 3px solid #ff9900;
}
li:hover h3{
    color: #ff9900;
}
main h3 {
    padding:10px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: #0077b6;
    height: 40px;
}
#job_container {
    width: 1100px;
}

#pagebutton {
    justify-content: center;
    display: flex;
}

#pagebutton ul {
    padding: 10px, 5px;
    display: block;
    font-weight: 600;
  }
#pagebutton_previous, #pagebutton_next{
    border: none;
    border-radius: 20px;
    background-color: #b6e1f4;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #777;
    padding: 10px 20px;
    font-size: 16px;
}
#pagebutton_previous:hover, #pagebutton_next:hover {
    background-color: #87c8f3;
    color: #555;
    cursor: pointer;
}
#pagebutton_previous:active, #pagebutton_next:active {
  background-color: #5ca9e8;
  color: #333;
}
#authorship {
    width:1100px;
}
#authorship p{
    width: 100%;
    color: #999999;
    text-align: right;
}
#search_tab{
     border-radius: 5px;
     background-color: #b6e1f4;
     padding: 15px;
     width: 90%;
     flex-direction: row;
}
@media (max-width: 1000px) {
            /* 화면 너비가 600px 이하일 때 수직으로 배치 */
            #search_tab {
                flex-direction: column;
            }
        }
#search_tab label {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #555;
    margin: 0 10px;
}
#search_tab input[type="text"] {
  padding: 6px;
  border: 2px solid #6cb8cc;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#search_tab input[type="text"]:focus {
  outline: none;
  border-color: #ff9900;
}
#search_tab button {
    margin: 0 10px;
    padding: 8px 20px;
    background-color: #6cb8cc;
    border-radius: 5px;
    color:white;
    border: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#search_tab button:hover {
    background-color: #5499ab;
    cursor: pointer;
}
#search_tab button:active {
  background-color: #467f8f;
}
#searchJobCd {
    padding: 6px;
    border: 2px solid #6cb8cc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px
}

#searchJobCd:hover {
    border-color: #6cb8cc;
}

#searchJobCd:focus {
    outline: none;
    border-color: #ff9900;
}
#pagebutton_this {
    font-weight: 600;
}