body {
    margin: 0;
}
ody {
    background-color: #0C4DA2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.join1{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    background-color: #0C4DA2;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0;
    color: white;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
}

input[type="text"]::placeholder {
            color: #F6F6F6;
        }

input[type="email"]::placeholder {
            color: #F6F6F6;
       }

input[type="password"]::placeholder {
            color: #F6F6F6;
       }



input[type="text"] {
    background: #0B4085;
    hint: white;
    color: #FFFFFF;
    width: 400px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #006AFF;
    font-size: 16px;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
  background: #0B4085;
    color: white;
    width: 400px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #006AFF;
    font-size: 16px;
}
button[type="submit"]:hover {
    background: #0E3266;
}

.btn-container button {
    margin: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    background: #0055FF;
    border: 1px solid #808080;
    position: relative;
    transition: background-color 0.3s;
    color: white;
}

.btn-container button:hover {
    background: #0E3266;
}

#screen_full {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#screen_bottom {
    display: flex;

}

#screen_left {

    width: 400px;
    height: 400px;
}

.logo3 {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

#screen_right {

    width: 600px;
    height: 800px;
}
#password-error {
    color: red;
    margin-top: 5px;
}
