/* user_profile.css */

#profile-container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#profile-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

#profile-container div {
    margin: 10px 0;
}

#profile-container strong {
    font-weight: bold;
    margin-right: 10px;
    color: #555;
}

#edit-profile-btn {
    background-color: #3498db;
    color: #ffffff; /* Set text color to white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

#edit-profile-btn:hover {
    background-color: #2980b9;
}

a {
    color: #fff; /* Set link color to white */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
